*{
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

#main-header{
    background-color:  	#323632;
    padding: 20px;

}

#main-header > div{
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 500px;
    text-align: center;
}


h1{
    color: white;
}


#content{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:  	#a9a97d;

}

.stats{
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.stats > li{
    color: white;
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    margin-left: 4px;

}

.stats1{
    padding: 2px;
    background-color:  #73715c;
}

.stats2{
    padding: 2px;
    text-align: center;
    background-color: #4e4e58;
}

li {
    list-style: none;
}

.todolist li.complete{
    background-color: #a2a3a3;
    text-decoration-line: line-through;
    color: #4e4e58;   
}

.todolist li{
    background-color: #cdcecf;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;  
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: center;
}

img{
    width: 16px;
    height: 16px;
}

button.remove-button{
    width: 20px;
    height: 20px; 
}

